.container img {
  width: 20%;
  height: 20%;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
}

.user {
  padding-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.container img {
  margin: 1rem 0;
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 0 1rem rgba(255, 255, 255, 0.2);
}

.user .name {
  font-size: 3rem;
  color: #fff;
  padding: 0.5rem 0;
}

.user .post {
  font-size: 1.8rem;
  color: #eee;
  font-weight: lighter;
}

.container {
  height: 58rem;
  width: 115rem;
  background: rgba(255, 255, 255, 0.2);
  margin-top: 5rem;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  padding-bottom: 10rem;
}

.home h3 {
  font-size: 2.5rem;
  font-weight: lighter;
  color: #eee;
}

.home .name span {
  font-size: 4rem;
  color: #fff;
}

.home .post {
  padding: 1rem 0;
}

.home .post span {
  font-size: 3rem;
  color: #fff;
}

.home .share {
  position: absolute;
  left: 45%;
  bottom: 5rem;
  display: flex;
  padding: 1rem;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
